{% if section.settings['show-announcement'] %}
    <section>
        <div class="announcement-bar">
            <div class="announcement-bar-left-section">
                
            </div>
        </div>
    </section>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show-announcement",
      "label": "Show Announcement",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "announcement-bar",
      "category": "Custom"
    }
  ]
}
{% endschema %}
